@keyframes modal{
0%{transform: scale(0)}
100%{transform: scale(1) translate(-50%,-50%);}
}

li{
  list-style: none;
  color: chartreuse;
  cursor: pointer;
  transition: color 0.2s ease;
  
  &:hover{
    color: darkgreen;
  }
}